lable{
    color:rgb(204, 35, 35) !important;
}

#username{
    color:darkblue !important;
    font-size:20px;
}

#checkbox{
    color:lawngreen !important;
}

.sure{
    color:mediumblue !important;
}